
#LogoAndHead {
  width: 20%;
  margin: auto;
  color: cornflowerblue;
  font-size: x-large;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and(max-width: 800px) {
  .connect {
    width: 10%;
  }
}

.connect {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  background-color: rgb(236, 226, 178);
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 3px;
  font-size: x-large;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  text-align: center;
}

form {
  font-size: x-large;
  margin: auto;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 60%;
  text-align: center;
}

.Jobs {
  color: cornflowerblue;
  font-size: x-large;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  clear: both;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
table,
th,
td {
  border: 2px solid green;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button1 {
  font: bold 11px Tahoma;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
