{% extends 'base_html.html' %}

{% block content %}
        
<!--progress bar-->
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated-bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100" style="width: 100%;"></div>
</div>
</nav>
</div>
           <!-- alert-->
           <div class="container">
            <div class="alert alert-primary">
                <strong>Step 3: choose your next job!</strong>
                <p>Everything is ready now, all you have to do is go into the company's sites and apply for your job </p>
    
    
            </div>
        </div>
			
   <!--tables-->
   <div class="container">
	<form method="get">
		{{jobFilter.form}}
		<button type="submit">
		Search</button>
	</form>
    <table class="table table-hover table-stripped">
        <thead class="thead-dark">
            <tr>
                <th>Company name</th>
                <th>Position offered</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
			{% for item in job %}
			<tr> 
				<td>{{ item.company.company_name }}</td>
				<td><a href="{{ item.description_url }}">{{ item.job_title }}</a></td>
			</tr>
				{% endfor %}
            </tr>
        </tbody>
    </table>
</div>

</div>
</div>

{% endblock %}