{% extends 'base_html.html' %}

{% block content %}
    <!--progress bar-->
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated-bg-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0"
        aria-valuemax="100" style="width: 10%;"></div>
    </div>

</nav>
</div>

        <!-- alert-->
    <div class="container">
        <div class="alert alert-primary">
            <strong>Step 1: Sign up now and start your search!</strong>
            <p>in 3 simple steps you will find your next job.  </p>
            <a href="signup" class="btn btn-success">Let's sign up!</a>


        </div>
    </div>

</div>
</div>

{% endblock %}