{% extends 'base_html.html' %}

{% block content %}

<div class="content">
  <div class="content-inside">
    <!--progress bar-->
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated-bg-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100" style="width: 40%;"></div>
    </div>

</nav>
</div>


    <!--sign up form-->
<div class="container">
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Sign up</button>
  <br/><br/>
</form>
        
</div>
</div>
</div>



{% endblock %}